.dashboard{
    display: flex;
    align-items: center;
    padding: 50px;
}
.dashboard__menu{
    padding: 50px;
    flex: 1;
}
.dashboard__menuItem{
    font-weight: bold;
    padding: 10px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    width: 100%;
}
.upload_btn{
    background-color: rgb(3, 168, 124);
    color:white;
    border: none;
    height:60px;
  
    padding: 10px;
    font-size: 1rem;
}